*.dSYM
*.orig
*.pyc
*.rej
*.swp
*.tmp
.bzr
.gdb_history
.hg
.hglf
.idea
.om.cache
.ropeproject
.svn
/.gcc-compiler
/.gxx-compiler
/local.cmake
/local.ymake
om.conf.local
test-results

/msvs/Debug/*
/msvs/Release/*

cmake-build-*
build
CMakeUserPresets.json
conan.lock
conanbuildinfo.txt
graph_info.json
conaninfo.txt
.DS_Store
.cache

dist
_d1trading*.so
tmp

target/
